.auth__title {
  font-size: 48px;
  color: white;
  font-family: "Tenali Ramakrishna", sans-serif;

  margin-bottom: 10px;
  margin-top: 20px;
}

.auth__auth {
  width: 100%;
}

.auth__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;

  margin-bottom: 20px;
}

.auth__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.auth__email {
  padding: 10px 50px;
  border-radius: 4px;

  border: 0;
  background: white;

  &:focus {
    outline: 0;
  }
}

.auth__remember {
  display: flex;
  align-items: center;
}

.auth__check {
  margin-right: 5px;
  background: white;
  border: 0;
  border-right: 5px;
}

.auth__item-remem {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.auth__btn {
  padding: 8px 25px;
  color: white;
  font-size: 16px;
  background: #007CBA;
  border: 0;
  text-decoration: none;

  cursor: pointer;

  transition: background 0.4s linear;

  margin-left: 55px;

  &:hover {
    background: darken(#007CBA, 10%);
  }
}