.btn__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}

.btn-latest {
  position: relative;
  padding: 10px 35px;
  border-radius: 40px;
  display: flex;
  align-items: center;

  background: none;
  border: 3px solid black;

  text-decoration: none;
  font-size: 25px;
  text-align: center;

  transition: all .2s linear;


  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    transform: translateY(100%);

    transition: inherit;
    width: 100%;
    height: 0;
    background: black;
    border-radius: 36px;

  }

  &:hover:before{
    transform: translateY(0);
    height: 100%;
  }

  &:hover{
    .btn__text{
      color: white;
      z-index: 100;
    }

    .btn__icon-arrow{
      fill: white;
    }
  }
}

.btn__text {
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: black;

  margin-right: 10px;
}

.btn__icon-arrow {
  width: 15px;
  height: 15px;

  margin-top: 5px;
  fill: black;

  transform: rotate(90deg);
}