.burger {
  display: flex;
  align-items: center;
  width: 25%;
  height: 25px;

  margin-top: -9px;
}

.burger__logo {
  display: none;
  width: 100%;
  height: 100%;

  fill: white;

  @media (max-width: 768px) {
    display: block;
  }
}