.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comments__title {
  font-size: 36px;
  color: #CCC;

  margin: 32px 10px 0;

  &:after {
    width: 100%;
    content: "";
    display: block;

    height: 2px;
    background: #E0E0E0;

    margin-top: 32px;
  }
}

.comments__content {
  width: 100%;
}

.comments__item {
  width: 100%;
  display: flex;
  position: relative;

  margin-top: 40px;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 1;

    background: #E0E0E0;

    margin-top: 32px;
  }

  &:first-child{
    margin-top: 20px;
  }
}

.act{
  margin-left: 100px;
  margin-top: 40px;

  @media (max-width: 760px) {
    margin-left: 0;
  }


  .comments__reply{
    display: none;
  }


  .comments__name{
    font-size: 20px;
  }

  .comments__text{
    font-size: 14px;
    word-break:break-all;
  }
}

.comments__photo {
  margin-right: 10px;

  width: 10%;

}

.comments__img {
  width: 100%;
  max-width: 100%;
}

.comments__info{
  width: 100%;
}

.comments__name {
  font-size: 24px;
  font-weight: bold;
  color: black;

  margin-bottom: 5px;
}

.commemts__date {
  font-size: 13px;
  color: #9A1A1A;
  font-weight: bold;

  margin-bottom: 10px;
}

.comments__text {
  font-size: 16px;
  color: #4F4949;
  word-break:break-all;

  margin-bottom: 10px;
}

.comments__reply{
  display: flex;
  justify-content: flex-end;
}

.comments__reply-btn {
  padding: 8px 25px;

  background: #5b5555;
  font-size: 16px;
  color: white;
  border: 0;
  cursor: pointer;

  transition: background 0.4s linear;

  &:focus{
    outline: 0;
  }

  &:hover{
    background: darken( #5B5555, 7%);
  }
}


.comments__post{
  width: 100%;

  padding: 60px 0;
}

.comments__post-title{
  font-size: 35px;
  color: #464545;

  margin-bottom: 20px;
}

.comments__post-redactor{
  width: 100%;

  display: flex;
  flex-direction: column;
}

.comments__post-header{
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;

  @media (max-width: 520px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.comments__post-name, .comments__post-surname, .comments__post-text{
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 520px) {
    margin-bottom: 15px;
  }
}

.label__text{
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
  font-weight: 200;
  color: black;

  margin-bottom: 10px;
}

.input__name{
  border: 1px solid #9F9B9B;

  height: 70px;
  width: 90%;

  font-size: 18px;

  margin-right: 20px;

  &:last-child{
    margin-right: 0;
  }

}

.comments__post-text{
  margin-bottom: 20px;
}

.comment__post-tex{
  width: 95%;
  resize: vertical;
  height: 200px;
  font-size: 18px;

  border: 1px solid #9F9B9B;
}

.comments__post-btn{
  width: 100%;
}

.comments__btn{
  padding: 10px 25px;
  cursor: pointer;


  border: 0;
  border-radius: 10px;

  background: #2C87F0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  &:hover{
    background: darken(#2C87F0, 10%);
  }

  &:focus{
    outline: 0;
  }
}