.contacts {
  width: 100%;
}

.contacts__img {
  opacity: 0.5;
}

.contacts__inner {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 80px 0;
}

.contacts__item {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  @media (max-width: 664px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contacts__email, .contacts__phone {
  width: 45%;
  padding: 20px;

  border: 1px solid #868686;

  transition: border-color 0.4s linear;

  margin-bottom: 15px;

  &:hover {
    border-color: #2C87F0;
  }

  @media (max-width: 664px) {
    width: 80%;
  }

  @media (max-width: 420px) {
    width: 100%;
  }
}

.contacts__email-title {
  font-size: 32px;
  color: #2C87F0;

  margin-bottom: 20px;
}

.contacts__email-content {
  color: black;
  font-size: 27px;

  @media (max-width: 420px) {
    font-size: 20px;
  }
}

.contacts__social {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 50px;
  height: 50px;
  text-decoration: none;

  background: #C4C4C4;
  margin-right: 20px;

  position: relative;

  transition: transform 0.4s linear,
  background 0.4s linear;

  &:hover {
    background: #ff85bb;
    transform: translate3d(0, -8%, 0);
  }
}

.social__icon {
  width: 70%;
  height: 70%;

  fill: white;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}