.footer{
  padding: 40px 0;
  background: #3B3B3B;

  width: 100%;
}

.footer__inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__copyrigth{
  color: white;
  font-size: 18px;

}

.black{
  color: black;
}