.intro {
  width: 100%;
  position: relative;
}

.intro__bg {
  width: 100%;
  position: relative;
}

.slick-slide {
  height: auto;
}

.intro__img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.intro__inner {
  width: 100%;
}

.intro__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  color: white;

  transform: translate3d(-50%, -50%, 0);
}

.intro__topic {
  padding: 5px 30px;
  border-radius: 28px;

  background: #219FFF;

  color: white;
  font-size: 18px;
  text-align: center;

  margin-bottom: 10px;

  cursor: pointer;

  transition: background 0.4s linear;

  &:hover {
    background: #161616;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 420px) {
    font-size: 11px;
    padding: 3px 25px;
  }
  @media (max-width: 290px) {
    margin-bottom: 4px;
    margin-top: 15px;
    padding: 3px 22px;
    font-size: 10px;
  }
}

.intro__text {
  text-align: center;
  margin-bottom: 10px;
}

.intro__title {
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 1.1;
  font-weight: bold;
  text-decoration: none;

  margin-bottom: 10px;

  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: 0 36px;

  transition: background 0.5s linear;

  &:hover {
    background-size: 100% 100%;
  }

  &-underline {
    background-image: linear-gradient(to right, white 0, white 100%);
  }

  @media (max-width: 768px) {
    font-size: 24px;
    background-position: 0 27px;
  }

  @media (max-width: 598px) {
    font-size: 18px;
    background-position: 0 20px;
  }

  @media (max-width: 420px) {
    font-size: 14px;
    background-position: 0 16px;
  }

  @media (max-width: 290px) {
    font-size: 10px;
    background-position: 0 12px;
  }

}

.intro__author-info {
  display: flex;
  justify-content: space-between;
}

.intro__author-name {
  color: white;
  position: relative;
  font-size: 14px;

  margin-right: 10px;

  @media (max-width: 598px) {
    font-size: 11px;
  }

  @media (max-width: 290px) {
    font-size: 10px;
    text-align: end;
  }

  &:after {
    content: "";
    display: block;

    width: 10px;
    height: 10px;

    background: transparent;
    border-radius: 50%;
    border: 2px solid white;

    position: absolute;
    top: 4px;
    right: -21px;
    z-index: 1;

    margin: 0 5px;

    @media (max-width: 598px) {
      width: 8px;
      height: 8px;
    }

    @media (max-width: 290px) {
      width: 6px;
      height: 6px;
    }
  }
}

.intro__author-data {
  color: white;
  font-size: 14px;

  margin-left: 10px;

  @media (max-width: 598px) {
    font-size: 11px;
  }

  @media (max-width: 290px) {
    font-size: 10px;
  }
}

.intro__arrow-icon {
  width: 20px;
  height: 20px;

  @media (max-width: 598px) {
    width: 15px;
    height: 15px;
  }
  @media (max-width: 420px) {
    width: 10px;
    height: 10px;
  }
}

.intro__arrow {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  position: absolute;
  top: 50%;
  z-index: 1;

  border: 0;
  background: #161616;
  border-radius: 50%;
  fill: white;

  transition: fill 0.3s linear,
  background 0.3s linear;

  &--prev {
    left: 2rem;
    transform: translateY(-50%) rotate(180deg);
  }

  &--next {
    right: 2rem;
    transform: translateY(-50%);
  }

  &:focus {
    outline: 0;
    fill: #161616;
    background: white;
  }

  &:hover {
    fill: #161616;
    background: white;
  }

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 598px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 420px) {
    width: 30px;
    height: 30px;
  }
}