.login {
  width: 100%;
  height: 100vh;

  position: relative;
}

.login__bg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.login__img {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
}

.login__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 33%;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);

  @media (max-width: 968px) {
     width: 50%;
  }

  @media (max-width: 648px) {
    width: 70%;
  }

  @media (max-width: 458px) {
    width: 100%;
  }

}

.login__title {
  font-size: 48px;
  color: white;
  font-family: "Tenali Ramakrishna", sans-serif;

  @media (max-width: 458px) {
    font-size: 32px;
  }
}

.login__button {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.login__subtline {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;

  transition: color 0.4s linear;

  &:hover {
    color: #c4ffc4;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background: #33DE3A;
  }
}

.login__btn {
  padding: 8px 28px;
  background: #007CBA;
  color: white;
  font-size: 20px;
  text-decoration: none;

  transition: background 0.4s linear;

  &:hover {
    background: darken(#007CBA, 10%);
  }
}

#text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 90%;
  top: 0;
  right: -5px;
  width: 2px;


  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}