.popular {
  width: 100%;
}

.popular__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.popular__item {
  width: 48%;
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  @media (max-width: 768px) {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media (max-width: 462px) {
    width: 100%;
  }
}

.popular__item-latest {
  width: 30%;

  @media (max-width: 768px) {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media (max-width: 462px) {
    width: 100%;
  }
}

.popular__photo {
  width: 100%;
  position: relative;
  overflow: hidden;

  margin-bottom: 25px;

  &:hover {
    .popular__topic {
      transform: translateX(0);
    }
  }
}

.popular__img {
  width: 100%;
  max-width: 100%;
  height: auto;

  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.popular__topic {
  padding: 8px 25px;
  background: #219FFF;
  border-radius: 0 15px 15px 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  font-size: 16px;
  font-weight: bold;

  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: 1;

  transform: translateX(-100%);

  transition: color 0.3s linear,
  background 0.3s linear,
  transform 0.4s linear;

  &:hover {
    background: #161616;
    color: white;
  }

  @media (max-width: 462px) {
    font-size: 12px;
    padding: 5px 25px;
  }
}


.popular__title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.1;
  text-decoration: none;

  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: 0 35px;


  transition: background 0.5s linear;

  &:hover {
    background-size: 100% 100%;
  }

  &--underline {
    background-image: linear-gradient(to right, black 0, black 100%);
  }

  @media (max-width: 768px) {
    font-size: 24px;
    background-position: 0 27px;
  }

  @media (max-width: 598px) {
    font-size: 18px;
    background-position: 0 20px;
  }

  @media (max-width: 420px) {
    font-size: 14px;
    background-position: 0 16px;
  }

  @media (max-width: 290px) {
    font-size: 10px;
    background-position: 0 12px;
  }
}

.popular__text {
  font-size: 22px;
  line-height: 1.1;
  color: #3B3B3B;
  font-family: "Roboto", sans-serif;

  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: 462px) {
    font-size: 11px;
  }
}

.popular__info {
  display: flex;
}

.popular__info-author {
  margin-right: 10px;
  font-size: 20px;
  color: #B2B2B2;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  @media (max-width: 462px) {
    font-size: 12px;
  }
}

.popular__info-date {
  font-size: 20px;
  color: #B2B2B2;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  @media (max-width: 462px) {
    font-size: 12px;
  }
}