.subscribe__inf {
  width: 50%;
  display: flex;
  align-items: center;
}

.subscribe__img {
  width: 40px;
  height: 40px;

  margin-right: 10px;
}

.img-sub {
  width: 100%;
  height: 100%;

  max-width: 100%;
}

.subscribe__name {
  font-size: 16px;
  color: black;
}